package pages

import "strings"

type LayoutConfig struct {
	Title string
	COUNT int
}

templ Layout(content templ.Component, config LayoutConfig, currentPath string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ config.Title }</title>
			<link rel="stylesheet" href="/assets/css/style.css"/>
			@templ.Raw(codeBlockStyleHTML())
			<script src="/assets/js/htmx.4.0.0.js"></script>
			<script src="/assets/js/hx-preload.js"></script>
			@animationCounter()
		</head>
		<body>
			<header>
				if currentPath != "/" {
					<a id="home-link" href="/" hx-boost="true" hx-preload="mouseover" hx-push-url="/" hx-on:click="this.remove()">back to Nines Coding</a>
				}
				<div class="header-profile">
					<div>Lance Nines</div>
					<div>
						<a href="https://github.com/ninesl" target="_blank">github</a> |
						<a href="https://www.linkedin.com/in/lance-nines/" target="_blank">linkedin</a>
					</div>
				</div>
				@PersistCounter(config.COUNT, false)
			</header>
			<main>
				@content
			</main>
		</body>
	</html>
}

templ BlogArticleFragment(content templ.Component) {
	@content
	<hx-partial hx-target="header" hx-swap="afterbegin">
		<a id="home-link" href="/" hx-boost="true" hx-preload="mouseover" hx-push-url="/" hx-on:click="this.remove()">back to Nines Coding</a>
	</hx-partial>
}

type BlogEntry struct {
	Title string
	Path string
	Folder bool
	Children []BlogEntry
}

func ArticleSlug(title string) string {
	return strings.ReplaceAll(title, " ", "")
}

templ NotFound() {
	<p>this content aint here or you're lost</p>
}

templ BlogHome(entries []BlogEntry) {
	@blogEntries(entries)
}

templ blogEntries(entries []BlogEntry) {
	<ul>
		for _, entry := range entries {
			<li>
				if entry.Folder {
					{ entry.Title }
					@blogEntries(entry.Children)
				} else {
					<a
						href={ "/blog/" + entry.Path }
						hx-get={ "/blog/" + entry.Path }
						hx-preload="mouseover"
						hx-target="main"
						hx-swap="innerHTML"
						hx-push-url={ ArticleSlug(entry.Title) }
					>{ entry.Title }</a>
				}
			</li>
		}
	</ul>
}

templ PersistCounter(count int, poweredByHTMX bool) {
	<div class="counter-shell">
		<div class="counter-wrap">
			<button
				class="counter-button"
				hx-post="/count"
				hx-trigger="animationend from:#poweredBy"
				hx-swap="outerHTML"
				hx-target=".counter-shell"
				hx-on:click="animationCounter(this)"
			>
				<div class="counter-total">
					<span>lifetime clicks</span>
					<h1>{ count }</h1>
				</div>
				<div id="poweredBy" class="powered-by">
					if poweredByHTMX {
						<span>powered by</span>
						<span class="htmx-logo" aria-label="HTMX logo" role="img">
							<img src="/assets/img/Htmx_Logo.png" alt=""/>
						</span>
					} else {
						<span>click me</span>
					}
				</div>
			</button>
		</div>
	</div>
}

templ MarkdownHTML(markdownHTML string) {
	@templ.Raw(markdownHTML)
}
